*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: min(1000px,100%);
    margin: 0 auto;
    columns: 3 300px;
}

.container img{
width: 100%;
display:block;
margin-bottom: 1rem;
}